@mixin font {
  font-family: serif;
  text-decoration: none;
  color: #333333;
}
.contact {
  margin-top: 110px;
  margin-left: 15%;
  width: 65%;
  .contact_container {
    display: flex;
    flex-direction: column;
    .contact_text {
      @include font();
      margin: 0px 0px 30px 0px;
    }
    .title {
      width: 55%;
      height: 20px;
      margin: 3px 0px 20px 0px;
    }
    .title_text {
      @include font();
    }
    .email {
      width: 55%;
      height: 20px;
      margin: 3px 0px 20px 0px;
    }
    .email_text {
      @include font();
    }
    .content {
      width: 85%;
      height: 150px;
      margin: 3px 0px 20px 0px;
    }
    textarea {
      resize: vertical;
    }
    .send_button {
      width: 15%;
      height: 25px;
    }
    .content_text {
      @include font();
    }
  }
}
@media screen and (max-width: 959px) {
  .contact {
    margin-top: 30px;
    margin-left: 21%;
    width: 50%;
  }
}
@media screen and (max-width: 559px) {
  .contact {
    margin-left: 10%;
    width: 60%;
  }
}
