@mixin font {
  font-family: serif;
  text-decoration: none;
  color: #333333;
  margin-bottom: 6px;
}
.profile {
  display: flex;
  flex-direction: column;
  margin: 105px 0px 0px 15px;
  width: 90%;
  .image_container {
    position: relative;
    .topImage {
      height: 200px;
      width: 325px;
      // モノクロにする
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      //
    }
    .topImage:hover {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
  // 枠をぼやけさせる
  // .image_container::after {
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   box-shadow: inset 0px 0px 4px 4px #eeeeee;
  // }
  .text_area {
    width: 75%;
    margin: 15px 0px 0px 0px;
    .introduce_text {
      @include font();
    }
  }

  .skills {
    margin: 50px 0px 0px 0px;
    .skills_text {
      @include font();
      font-size: 23px;
    }
    // .under_line {
    //   border: thin 1px #333333;
    //   width: 100%;
    // }
    .skill_images {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      right: 40px;
      width: 140%;

      .skill_image {
        margin: 25px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
@media screen and (max-width: 959px) {
  .profile {
    margin: 0px 0px 0px 20px;

    .text_area {
      width: 100%;
      margin: 15px 0px 0px 0px;
      .introduce_text {
        @include font();
      }
    }
    .skills {
      margin: 40px 0px 10px 5px;
      .skills_text {
        @include font();
        font-size: 22px;
      }

      .skill_images {
        right: 40px;
        width: 130%;

        .skill_image {
          margin: 25px;
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}
@media screen and (max-width: 559px) {
  .profile {
    .introduce_text {
      font-size: 13px;
    }
    .text_area {
      width: 92%;
      margin: 15px 0px 0px 0px;
    }
    .skills {
      .skill_images {
        right: 30px;
        width: 130%;
      }
    }
  }
}
