@mixin font {
  font-family: serif;
  text-decoration: none;
  color: #333333;
}
.reference {
  margin: 100px 0px 10px 0px;
  width: 100%;
  .reference_text {
    @include font();
  }
}
@media screen and (max-width: 959px) {
  .reference {
    margin: 100px 0px 0px 15px;
    width: 100%;
  }
}
@media screen and (max-width: 559px) {
}
